*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: whitesmoke;
}

::selection{
  color: #fff;
  background: #6990F2;
}
.wrapper{
  /* width: 430px; */
  height: 245px;
  max-height: 600px;
  background: #fff;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.wrapper header{
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper .formdiv{
  height: 182px;
  display: flex;
  cursor: pointer;
  /* margin: 30px 0; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
  padding: 10px;
}
.formdiv :where(i, span){
  color: #6990F2;
}
.formdiv i{
  font-size: 50px;
}
.formdiv p{
  /* margin-top: 15px; */
  font-size: 16px;
}

section .row{
  margin-bottom: 4px;
  background: #E9F0FF;
  list-style: none;
  /* padding: 15px 20px; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: fit-content; */
  width: 300px;
}
section .row i{
  color: #6990F2;
  font-size: 30px;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #6990F2;
  border-radius: inherit;
}
.uploaded-area{
  max-height: 182px;
  overflow-y: scroll;
  margin-top: 5px;
  overflow-x: hidden;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
/* .uploaded-area::-webkit-scrollbar{
  width: 3px;
} */

::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #fff; /* Background color of the track */
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: lightgrey; /* Color of the thumb */
  border-radius: 6px; /* Border radius of the thumb */
}

.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    gap: 5px;
    align-items: center;
    width: -webkit-fill-available;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}


.mybtn1{
  width: 130px;
  padding: 3px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  /* background-color: #6990f2; */
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-align: center;

}
 
.margin-y{
 color: #6990F2;
}

.bg-blue{
     background-color: #6990f2;
}
